<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="BasicHttpBinding_ICalculator2" />
            </netTcpBinding>
            <wsDualHttpBinding>
                <binding name="default" clientBaseAddress="http://localhost:8092/MyAppService"/>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50548/Messenger.svc" binding="wsDualHttpBinding"
                bindingConfiguration="default" contract="ServiceReference1.IMessenger"
                name="default">
                <identity>
                    <userPrincipalName value="DNAPC\MyComputer" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>