<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="RsaXmlPublicKey" value="&lt;RSAKeyValue&gt;&lt;Modulus&gt;vrnZuBqVbC8j+CbquGbzi0/kLvTtJo808vava431dTc/THVZfvihdKFYPYwHNX1RY3K8V+RWqP1t2y0LFmb0lrSmFpyczLMkyN5s/qiWRQgKlh/npSW5sVnfvkYGBHG9lxqiHUpFyp0khuEplUktd16fkHZS9LKU8DG5RSHCuGM=&lt;/Modulus&gt;&lt;Exponent&gt;AQAB&lt;/Exponent&gt;&lt;/RSAKeyValue&gt;" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="default">
          <TokenBehaviorExtension />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="TokenBehaviorExtension" type="MessengerWindowsClient.Managers.ServiceInfrastructure.TokenBehaviorExtension, MessengerWindowsClient, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="httpEndPoint" />
        <binding name="httpEndPoint1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50548/Messenger.svc/http" behaviorConfiguration="default" binding="basicHttpBinding" bindingConfiguration="httpEndPoint" contract="MessengerService.IMessenger" name="httpEndPoint" />
      <endpoint address="http://zstumessenger.azurewebsites.net/Messenger.svc/http" binding="basicHttpBinding" bindingConfiguration="httpEndPoint1" contract="ZstuMessengerService.IMessenger" name="httpEndPoint1" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>