<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RsaModulus" value="ygwkxRqahHso43RY+j9zTaqHEHPe9WcstvrngMObE1IE3WZ0cxMbW7S8rR/F8+2yTyLXf5mcqcvHHlavqPG5VO6izriZMGTAfkkRL11KLrS+6zSPLu4Gjt7hV+thiaweNKjLR7mI398f34b7znCH/56lEZivW2wI1E0/0wmm1BZs81EfdzdUlZ9B9cb588XU/2qLUP1oAU+cl8KbjZ7u2erzukLqlL+86ITDCmxwhAmpPjzgnGtlBYiaby0GagjXG2+zhCT1QXgQB/Jsh+lUaDhEWv5jZtIqaS8BnAJhvJFjxWDV8RH3gbNkPbj8PJBy1E+EShcPhjD2sR7EHWS7kw=="/>
    <add key="RsaExponent" value="AQAB"/>
    <add key="RsaXmlPublicKey" value="&lt;RSAKeyValue&gt;&lt;Modulus&gt;vrnZuBqVbC8j+CbquGbzi0/kLvTtJo808vava431dTc/THVZfvihdKFYPYwHNX1RY3K8V+RWqP1t2y0LFmb0lrSmFpyczLMkyN5s/qiWRQgKlh/npSW5sVnfvkYGBHG9lxqiHUpFyp0khuEplUktd16fkHZS9LKU8DG5RSHCuGM=&lt;/Modulus&gt;&lt;Exponent&gt;AQAB&lt;/Exponent&gt;&lt;/RSAKeyValue&gt;"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="default">
          <TokenBehaviorExtension/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="TokenBehaviorExtension" type="MessengerWindowsClient.Managers.ServiceInfrastructure.TokenBehaviorExtension, MessengerWindowsClient, Version=1.0.0.0, Culture=neutral"/>
      </behaviorExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="httpEndPoint" />
        <binding name="httpEndPoint1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://zstumessenger.azurewebsites.net/Messenger.svc/http"
          binding="basicHttpBinding" bindingConfiguration="httpEndPoint1"
          contract="ServiceReference1.IMessenger" name="httpEndPoint1" behaviorConfiguration="default"/>
      <endpoint address="http://localhost:50548/Messenger.svc/http"
          binding="basicHttpBinding" bindingConfiguration="httpEndPoint"
          contract="MessengerService.IMessenger" name="httpEndPoint" behaviorConfiguration="default"/>
    </client>
  </system.serviceModel>
</configuration>