<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="tcpEndPoint" sendTimeout="00:10:00" receiveTimeout="00:10:00"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50548/Messenger.svc/net"
                binding="basicHttpBinding" bindingConfiguration="tcpEndPoint"
                contract="MessengerService.IMessenger" name="tcpEndPoint" />
        </client>
    </system.serviceModel>
</configuration>