<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="default" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50548/Messenger.svc" binding="basicHttpBinding"
                bindingConfiguration="default" contract="MessengerService.IMessenger"
                name="default" />
        </client>
    </system.serviceModel>
</configuration>